<p id="notice"><%= notice %></p>

<h1>Listing Stats</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>User agent</th>
      <th>Ip address</th>
      <th>Referrer url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stats.each do |stat| %>
      <tr>
        <td><%= stat.url_id %></td>
        <td><%= stat.user_agent %></td>
        <td><%= stat.ip_address %></td>
        <td><%= stat.referrer_url %></td>
        <td><%= link_to 'Show', stat %></td>
        <td><%= link_to 'Edit', edit_stat_path(stat) %></td>
        <td><%= link_to 'Destroy', stat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stat', new_stat_path %>
