<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @stat.url_id %>
</p>

<p>
  <strong>User agent:</strong>
  <%= @stat.user_agent %>
</p>

<p>
  <strong>Ip address:</strong>
  <%= @stat.ip_address %>
</p>

<p>
  <strong>Referrer url:</strong>
  <%= @stat.referrer_url %>
</p>

<%= link_to 'Edit', edit_stat_path(@stat) %> |
<%= link_to 'Back', stats_path %>
